@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	line-height: 1.4;
}

a {
	text-decoration: none;
}

p {
	margin: 0.75rem 0;
}

/* Utility Classes */

.container {
	max-width: 1100px;
	margin: auto;
	padding: 0 2rem;
	overflow: hidden;
}

.text-center {
	text-align: center;
}

.text-primary {
	color: #40d0e0;
}

.l-leading {
	font-size: 4rem;
	margin-bottom: 0.75rem;
	line-height: 1.1;
}

.m-heading {
	font-size: 2rem;
	margin-bottom: 0.75rem;
	line-height: 1.1;
}

.bg-primary {
	background: #40d0e0;
	color: #fff;
}

.lead {
	font-size: 1.3rem;
	margin-bottom: 2rem;
}

#navbar .logo  {
   display: flex;
   align-items: center;
   color: #40d0e0;
}







.py-1 {
	padding: 1.5rem 0;
}
.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 3rem 0;
}

.p-1 {
	padding: 1.5rem;
}
.p-2 {
	padding: 2rem;
}
.p-3 {
	padding: 3rem;
}

.btn {
	display: inline-block;
	color: #fff;
	background-color: #40d0e0;
	padding: 0.5rem 2rem;
	border: none;
	border-radius: 5px;
}

.btn:hover {
	background-color: #40d0e0;
    color: #333;
}

.btn-dark {
	background-color: #333;
	color: #fff;
}

.bg-dark {
	background: rgb(22, 19, 19);
	color: #fff;
}

.bg-light {
	background: #f4f4f4;
	color: #333;
}

.font-dark
{
	color: #333;
}

.list {
	margin: 0.5rem 0;
	list-style: none;
}

.list li {
	padding: 0.5rem 0;
	border-bottom: #444 dotted 1px;
}

/* navbar */

#navbar {
	display: flex;
	position: sticky;
	top: 0;
	background-color: rgb(14, 13, 13);
	color: #fff;
	justify-content: space-around;
	z-index: 1;
	padding: 1rem;
}

#navbar ul {
	display: flex;
	align-items: center;
	list-style: none;
}

#navbar ul li a {
	color: #fff;
	text-decoration: none;
	padding: 0.75rem;
	margin: 0 0.25rem;
}

#navbar ul li a:hover {
	background-color:aqua;
	border-radius: 5px;
    color: #333;
    font-style: oblique;
}

/* Header Showcase */

#showcase {
	background: #333 url("../Images/College\ photo.jpg") no-repeat center center/cover;
	color: #fff;
	height: 100vh;
}

#showcase .showcase-content img{
	height: 300px;
	width: 300px;
}

#showcase .showcase-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 2rem;
	/* Overlay */
	/* position: absolute; */
	top: 60px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.7);
}



/* Section: About */

#about .item h3 {
	color:#40d0e0;
}

#about .items p
{
	font-size: 1.2rem;
}

#about .item p span {
	font-weight: 800;
}

/* Section: What */

#what .items {
	display: flex;
	padding: 1rem;
}

#what .items .item {
	flex: 1;
	text-align: center;
	padding: 1rem;
}

#what .items .item i {
	background-color: #40d0e0;
	border-radius: 50%;
	padding: 1rem;
	margin-bottom: 1rem;
}

/* Initiatives */

#initiatives h2{
	padding-top: 1rem;
}

#initiatives .item 
{
	background-color:#f2f2f2;
	border: #000 solid 1px;
	grid-template-columns: 2fr ;
	grid-column-start: 1;
	grid-column-end: 2;
	margin-bottom: 1rem;
	
}

#initiatives .items .item h1{
	padding-top: 1rem;
	color: #333;
	text-transform: uppercase;
}

#initiatives .items .item p{
	padding: 0.8rem;
	text-align: center;
	font-size: 1.2rem;
	color: #333;

}

/* Section: Who */

#who {
	display: flex;
}

#who div {
	flex: 1;
}

#who .who-img {
	background: url("../Images/showcase1.jpg") no-repeat center center/cover;
}

/* Our Works */

/* #ourworks{
    display: flex;
    flex-direction: column;
}

#ourworks .container{
    padding: 0;
}

#ourworks .videos-container{
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    
} */

/* #ourworks .container1{
    display: flex;
    flex-direction: column;
}

#ourworks .container1 .videos-container{
    display: flex;
    justify-content: space-evenly;
} */

#ourworks .items {
	display: flex;
	padding: 1rem;
}

#ourworks .items .item iframe {
	width: 100%;
	text-align: center;
	padding: 1rem;
}

/* Social Media */

#social-media .container {
	text-align: center;
}

#social-media .container h1 {
	margin-bottom: 1.5rem;
}

#social-media .accounts-block {
	display: flex;
	text-align: center;
	justify-content: space-evenly;
	margin-right: 1.2rem;
	margin-bottom: 2rem;
}

#social-media .accounts-block a {
	color: #fff;
}

#social-media .youtube i {
	color: #40d0e0;
}
#social-media .facebook i {
	color: #40d0e0;
}
#social-media .instagram i {
	color: #40d0e0;
}

/* Contact */

#contact {
	display: flex;
}

#contact .map,
#contact .contact-form {
	flex: 1;
}

#contact .contact-form .form-group {
	margin: 0.75rem;
}

#contact .contact-form label {
	display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
	width: 100%;
	padding: 0.5rem;
}

/* Modal Styling */
/* The Modal (background) */

#initiatives {
	padding-bottom: 3rem;
}

#initiatives h2 {
	padding-bottom: 2rem;
}

#container{
	display: flex;
	justify-content: center;
}

#initiatives button{
	display: inline-block;
	color: #fff;
	background-color: #40d0e0;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	margin: 0 auto;
    width: 200px;
	font-size: 1rem;
}

#initiatives button:hover{
	color: #333;
}


/* Modal 1 */


.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top:0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	/* background-color: rgb(0,0,0); Fallback color
	background-color: rgba(0,0,0,0.4); Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color:#333;
	color:#f4f4f4;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }



  /* Office bearers */

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
